Python_script/.ipynb_checkpoints
WebDev/node_modules
WebDev/node_modules
Python_script/pdf_factsheet
Python_script/spec_suit
Python_script/csv_save_script.ipynb
Python_script/get_nav_data.ipynb
# airflow
airflow/logs
airflow/plugins
airflow/dags/__pycache__

.env
.venv
WebDev/node_modules
